<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <!-- Metadata -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <main class="container">
      {% for post in posts %}
        <article class="blog-post">
          <h1>{{ post.title }}</h1>
          {{ post.body }}
        </article>
      {% endfor %}
    </main> <!-- .container -->
  </body>
</html>
