@import "Main";

// Banners
.banner {
  color: white;
  font: {
    size: 1.45em;
    weight: 100;
  }
  padding: 1.5% 2.5%;
  position: absolute;
  left: 0;
  letter-spacing: 0.125rem;
  right: 0;
  z-index: 1;

  &.blue {
    background-color: #2496ce;
  }
}

// Greeting
$greeting-border-width: 17.5px;
.greeting {
  background-color: black;
  height: 768px;
  overflow: hidden;
  text-align: center;
  transition: all 1500ms;

  &.short {
    // Inline styles can't be applied to
    // pseudo-elements, but classes can
    &::before,
    &::after {
      height: 600px;
    }
  }

  &::before {
    background: url('../Images/NoahRosenfield.jpg') no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &::after {
    background-color: rgba(255, 255, 255, 0.915);
    content: '';
    display: block;
    float: left;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  div:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  div:last-of-type {
    border: {
      right: $greeting-border-width solid white;
      bottom: $greeting-border-width solid white;
      left: $greeting-border-width solid white;
    }
    height: 40%;
    margin: auto;
    min-height: 17.5rem;
    width: 60%;

    &::before,
    &::after {
      background-color: white;
      content: '';
      height: $greeting-border-width;
      position: absolute;
      top: 0;
      width: 75px / 618px * 100%;
    }

    &::before {
      // There are 1px lines
      // in some browsers at 0
      left: -1%;
    }

    &::after {
      // There are 1px lines
      // in some browsers at 0
      right: -1%;
    }

    h1 {
      font-size: 4em;
      letter-spacing: 5px;
      margin-left: 1.5%; // Pixel perfection
      position: absolute;
      top: -7.5%;
      left: 0;
      right: 0;
      z-index: 1;
    }

    h4 {
      letter-spacing: 3.5px;
      line-height: 115%;
      font: {
        size: 3em;
        weight: 300;
      }
      position: relative;
      top: 35%;
    }

    button {
      display: block;
      margin: auto;
      top: 50%;
    }
  }
}

// Sites
$overlay-from-color: rgba(76, 195, 196, 1);
$overlay-to-color: rgba(46, 153, 155, 1);
$overlay-from-color-on-hover: rgba(76, 195, 196, 0.965);
$overlay-to-color-on-hover: rgba(46, 153, 155, 0.965);
.sites {
  background-color: $dark-grey;
  overflow: visible;

  &::before {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba($dark-grey, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%,rgba($dark-grey, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%,rgba($dark-grey, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00252525', GradientType=0);

    content: '';
    display: block;
    height: 100px;
  }

  &::after {
    @extend ::before;

    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba($dark-grey, 0) 0, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba($dark-grey, 0), rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba($dark-grey, 0) 0, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#000000',GradientType=0);

    clear: left;
  }

  .site {
    float: left;
    max-height: 410px;
    overflow: hidden;
    position: relative;
    width: 40%;
    transition: all 125ms;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      margin-top: -15%;
    }

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: -15%;
    }

    &:nth-child(2n-1) {
      margin-left: 10%;
    }

    &.loner {
      clear: both;
      margin-left: 30%;
    }

    .overlay {
      background: rgb(76,195,196);
      background: -moz-linear-gradient(-45deg, $overlay-from-color 0%, $overlay-to-color 100%);
      background: -webkit-linear-gradient(-45deg, $overlay-from-color 0%, $overlay-to-color 100%);
      background: linear-gradient(135deg, $overlay-from-color 0%, $overlay-to-color 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cc3c4', endColorstr='#2e999b',GradientType=1);
    }

    a:link,
    a:visited {
      color: $white;
      display: block;
      text-decoration: none;
    }

    div {
      padding: 10%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      transition: all 125ms;

      h4,
      img,
      p {
        transition: all 125ms;
      }

      h4,
      p {
        font-weight: 600;
        line-height: 135%;
      }

      h4 {
        font: {
          family: "Nexa";
          size: 2.5em;
        }
        letter-spacing: 0.15rem;
        position: absolute;
        top: 10%;
        right: 0;
        bottom: 0;
        left: 0;
        text-transform: uppercase;
      }

      img {
        position: absolute;
        top: 45%;
        right: 0;
        bottom: 0;
        left: 35%;
        width: 30%;
      }

      p {
        font: {
          family: "Source Sans Pro";
          size: 1.575em;
        }
        letter-spacing: 0.045rem;
        position: absolute;
        right: 0;
        bottom: 10%;
        left: 12.5%;
        width: 75%;
      }
    }

    &:hover {
      .overlay {
        background: rgb(76,195,196);
        background: -moz-linear-gradient(-45deg, $overlay-from-color-on-hover 0%, $overlay-to-color-on-hover 100%);
        background: -webkit-linear-gradient(-45deg, $overlay-from-color-on-hover 0%, $overlay-to-color-on-hover 100%);
        background: linear-gradient(135deg, $overlay-from-color-on-hover 0%, $overlay-to-color-on-hover 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cc3c4', endColorstr='#2e999b',GradientType=1);

        transition: all 125ms;
      }

      div {
        margin: 2.5%;
        padding: 7.5%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        img {
          left: 34.5%;
          width: 31.25%;
        }

        p {
          left: 10.75%;
          width: 78.75%;
        }
      }
    }
  }
}

// Message Sender
.message-sender {
  background: rgba($white, 0.985);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  form {
    margin: auto;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: {
      top: 2.5%;
      bottom: 2.5%;
    }
    text-align: center;
    width: 35%;
  }

  .prob {
    font-size: 1.15em;
    letter-spacing: 0.035rem;
    margin: {
      top: 12.5%;
      bottom: 5%;
    }

    &:first-of-type {
      margin-top: 2.5%;
    }
  }

  input[type="submit"] {
    margin: 10% auto;
    width: 40%;
  }

  input:not([type="submit"]),
  textarea {
    background-color: transparent;
    border: {
      width: 0;
      bottom: 2px solid #222;
    }
    color: $dark-grey * 2.15;
    font: {
      family: "Source Sans Pro";
      size: 1.5em;
    }
    letter-spacing: 0.015rem;
    margin: 10% auto;
    outline: none;
    padding: 5% 15%;
    width: 68%;

    &:focus {
      background-color: $white / 1.025;
      border: 0.2rem solid $white / 1.15;

      // Animating 'border' causes transition issues
      // in Safari and Chrome (and probably others)
      transition: border-style 75ms;
    }

    &.has-probs {
      margin: 0 auto;
    }
  }

  textarea {
    height: 150px;
    font-size: 1.35em;
    line-height: 175%;
    letter-spacing: 0.005rem;
    resize: none;
  }
}

// Responsiveness
@media (max-width: 750px) {
  // Greeting
  $thin-greeting-border-width: 12.5px;
  .greeting {
    div:last-of-type {
      border: {
        right: $thin-greeting-border-width solid white;
        bottom: $thin-greeting-border-width solid white;
        left: $thin-greeting-border-width solid white;
      }
      padding: (15px / 638px * 100%) (35px / 414px * 100%);

      &::before,
      &::after {
        height: $thin-greeting-border-width;
        width: 35px / 618px * 100%;
      }

      h1 {
        font-size: 2.5em;
        margin-left: 1%; // Pixel perfection
        letter-spacing: 2.5px;
        top: -5%;
      }

      h4 {
        top: 15%;
      }

      button {
        top: 27.5%;
      }
    }
  }

  // Sites
  .sites {
    .site {
      margin: 0 !important;
      margin-left: 5% !important;
      width: 90%;

      &:first-of-type {
        margin-top: -35% !important;
      }

      &:last-of-type {
        margin-bottom: -35% !important;
      }
    }
  }

  // Message Sender
  .message-sender {
    form {
      top: 6.5%;
      bottom: 6.5%;
      width: 80%;
    }
  }

  footer img {
    margin-top: 10% !important;
    width: 20%;
  }
}

@media (max-width: 400px) {
  .greeting {
    div:last-of-type {
      padding: 1%;
      width: 80%;
    }
  }
}

// Fonts
@font-face {
  font-family: 'Nexa';
  src: url('../fonts/Nexa-Bold.eot');
  src: url('../fonts/Nexa-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Nexa-Bold.woff2') format('woff2'),
       url('../fonts/Nexa-Bold.woff') format('woff'),
       url('../fonts/Nexa-Bold.ttf') format('truetype'),
       url('../fonts/Nexa-Bold.svg#nexa_boldregular') format('svg');
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Bold.eot');
  src: url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SourceSansPro-Bold.woff2') format('woff2'),
       url('../fonts/SourceSansPro-Bold.woff') format('woff'),
       url('../fonts/SourceSansPro-Bold.ttf') format('truetype'),
       url('../fonts/SourceSansPro-Bold.svg#bebas_neuelight') format('svg');
  font-weight: 600;
}
