{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Ullmannite » Sites</title>

    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'Sites/Stylesheets/Reset.css' %}">
    <link rel="stylesheet" href="{% static 'Sites/Stylesheets/Main.css' %}">
    <link rel="stylesheet" href="{% static 'Sites/Stylesheets/Sites.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="greeting">
        <div class="image-holder">
          <img src="{% static 'Sites/Images/NoahRosenfield.jpg' %}">
        </div> <!-- .image-holder -->
        <div class="white-overlay">
        </div> <!-- .white-overlay -->

        <div>
          <h1>I am Alexander</h1>
          <h4>I make web applications</h4>
          <button class="aquamarine-button hvr-outline-out">Say Hello</button>
        </div>
      </div> <!-- .greeting -->
      <div class="sites">
        {% for site in sites %}
          <div class="site">
            <img src="{% static 'Sites/Thumbnails/'|add:site.thumbnail_filename %}" alt="{{ site.thumbnail_filename }}">
            <div>
              <a href="{{ site.link }}">
                <h4>{{ site.title }} <span>{{ site.subtitle }}</span></h4>
                <p>{{ site.description }}</p>
              </a>
            </div>
          </div> <!-- .site -->
        {% endfor %}
      </div> <!-- .sites -->
      <img src="Logo.png" alt="Logo.png">

      <!-- Scripts -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="{% static 'Sites/Scripts/Main.js' %}"></script>
    </div> <!-- .container -->
  </body>
</html>
