{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Ullmannite » Sites</title>

    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'Sites/Stylesheets/Reset.css' %}">
    <link rel="stylesheet" href="{% static 'Sites/Stylesheets/Main.css' %}">
    <link rel="stylesheet" href="{% static 'Sites/Stylesheets/Sites.css' %}">
  </head>
  <body>
    <div class="container">
      {% if hello_message_sent %}
        <p class="banner blue">I'll see that soon. Thanks!</p>
      {% endif %}
      <div class="greeting">
        <div class="image-holder">
          <img src="{% static 'Sites/Images/NoahRosenfield.jpg' %}">
        </div> <!-- .image-holder -->
        <div class="white-overlay">
        </div> <!-- .white-overlay -->
        <div>
          <h1>I am Alexander</h1>
          <h4>I make web applications</h4>
          <button class="aquamarine-button hvr-outline-out say-hello-button">Say Hello</button>
        </div>
      </div> <!-- .greeting -->
      <div class="sites">
        {% for site in sites %}
          {% if forloop.last %}
            <div class="site {{ last_site_is_loner|yesno:'loner,' }}">
          {% else %}
            <div class="site">
          {% endif %}
            <a href="{{ site.link }}">
              <div class="overlay"></div> <!-- .overlay -->
              <img src="{% static 'Sites/Thumbnails/'|add:site.thumbnail_filename %}" alt="{{ site.thumbnail_filename }}">
              <div>
                  <h4>{{ site.title }}</h4>
                  <img src="{% static 'Sites/Images/Separator.png' %}" alt="Separator.png" />
                  <p>{{ site.description }}</p>
              </div>
            </a>
          </div> <!-- .site -->
        {% endfor %}
      </div> <!-- .sites -->
      <div class="viewport-overlay message-sender">
        <button class="close-button">
          <span>&times;</span>
        </button>
        <form method="post">
          {% csrf_token %}
          {% if say_hello_form.name.errors %}
            <p class="prob">{{ say_hello_form.name.errors.0 }}</p>
          {% endif %}
          <input
            type="text"
            name="name"
            placeholder="Name"
            {% if say_hello_form.name.errors %}
              class="has-probs"
            {% endif %}
            value="{{ say_hello_form.cleaned_data.name }}">
          {% if say_hello_form.email.errors %}
            <p class="prob">{{ say_hello_form.email.errors.0 }}</p>
          {% endif %}
          <input
            type="text"
            name="email"
            placeholder="Email"
            {% if say_hello_form.email.errors %}
              class="has-probs"
            {% endif %}
            value="{{ say_hello_form.cleaned_data.email }}">
          {% if say_hello_form.message.errors %}
            <p class="prob">{{ say_hello_form.message.errors.0 }}</p>
          {% endif %}
          <textarea
            name="message"
            placeholder="Message"
            {% if say_hello_form.message.errors %}
              class="has-probs"
            {% endif %}
          >{{ say_hello_form.cleaned_data.message }}</textarea>
          <input type="submit" class="aquamarine-button" value="Send">
        </form>
      </div> <!-- .viewport-overlay .message-sender -->
      <footer>
        <img src="{% static 'Sites/Images/Logo.png' %}" alt="Logo.png">
      </footer>

      <!-- Scripts -->
      <script>
        {% if say_hello_form_needs_display %}
          var say_hello_form_needs_display = true;
        {% else %}
          var say_hello_form_needs_display = false;
        {% endif %}
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="{% static 'Sites/Scripts/Main.js' %}"></script>
    </div> <!-- .container -->
  </body>
</html>
