// Variables
$white: #f8f8ff;

// Structure
body {
  background-color: $white;
  font-family: 'Bebas Neue';
}

// Buttons
.aquamarine-button {
  background-color: transparent;
  border: {
    color: rgb(71,224,205);
    color: -moz-linear-gradient(-45deg,  rgba(71,224,205,1) 0%, rgba(45,206,187,1) 100%);
    color: -webkit-linear-gradient(-45deg,  rgba(71,224,205,1) 0%,rgba(45,206,187,1) 100%);
    color: linear-gradient(135deg,  rgba(71,224,205,1) 0%,rgba(45,206,187,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47e0cd', endColorstr='#2dcebb',GradientType=1 );

    style: solid;
    width: 3.5px;
  }
  cursor: pointer;
  color: #595959;
  font: {
    family: "Source Sans Pro";
    size: 1em;
  }
  letter-spacing: 0.25px;
  outline: none;
  padding: 12.5px 27.5px;
  text-transform: uppercase;
  transition: all 150ms;

  &:hover,
  &:active,
  &:focus {
    background-color: #48e0ce;
    color: white;
    border: {
      color: white;
      width: 2px;
    }
  }

  &:active {
    background-color: #167368;
  }
}

// Footer
footer {
  margin: 15% auto 8.5%;
  text-align: center;

  img {
    width: 10%;
  }
}

// Fonts
@font-face {
  font-family: 'Bebas Neue';
  src: url('../Fonts/BebasNeue-Light.eot');
  src: url('../Fonts/BebasNeue-Light.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/BebasNeue-Light.woff2') format('woff2'),
       url('../Fonts/BebasNeue-Light.woff') format('woff'),
       url('../Fonts/BebasNeue-Light.ttf') format('truetype'),
       url('../Fonts/BebasNeue-Light.svg#bebas_neuelight') format('svg');
  font-weight: 300;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../Fonts/BebasNeue.eot');
  src: url('../Fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/BebasNeue.woff2') format('woff2'),
       url('../Fonts/BebasNeue.woff') format('woff'),
       url('../Fonts/BebasNeue.ttf') format('truetype'),
       url('../Fonts/BebasNeue.svg#bebas_neueregular') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../Fonts/SourceSansPro.eot');
  src: url('../Fonts/SourceSansPro.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/SourceSansPro.woff2') format('woff2'),
       url('../Fonts/SourceSansPro.woff') format('woff'),
       url('../Fonts/SourceSansPro.ttf') format('truetype'),
       url('../Fonts/SourceSansPro.svg#bebas_neuelight') format('svg');
  font-weight: 300;
}

// Hover
/* Outline Out */
.hvr-outline-out {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    border: {
      color: rgb(71,224,205);
      color: -moz-linear-gradient(-45deg,  rgba(71,224,205,1) 0%, rgba(45,206,187,1) 100%);
      color: -webkit-linear-gradient(-45deg,  rgba(71,224,205,1) 0%,rgba(45,206,187,1) 100%);
      color: linear-gradient(135deg,  rgba(71,224,205,1) 0%,rgba(45,206,187,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47e0cd', endColorstr='#2dcebb',GradientType=1 );

      style: solid;
      width: 3.5px;
    }
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
  }
}
