// Variables
$white: #f8f8ff;

// Structure
body {
  background-color: $white;
  font-family: 'Bebas Neue';
}

// Greeting
$greeting-border-width: 17.5px;
.greeting {
  overflow: hidden;
  text-align: center;

  .white-overlay {
    background-color: rgba(255, 255, 255, 0.915);
  }

  .image-holder {
    overflow: auto;

    img {
      min-height: 100%;
    }
  }

  .white-overlay,
  div:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  div:last-of-type {
    border: {
      right: $greeting-border-width solid white;
      bottom: $greeting-border-width solid white;
      left: $greeting-border-width solid white;
    }
    height: 40%;
    margin: auto;
    min-height: 17.5rem;
    width: 60%;

    &::before,
    &::after {
      background-color: white;
      content: '';
      height: $greeting-border-width;
      position: absolute;
      top: 0;
      width: 75px / 618px * 100%;
    }

    &::before {
      // There are 1px lines
      // in some browsers at 0
        left: -1%;
    }

    &::after {
      // There are 1px lines
      // in some browsers at 0
      right: -1%;
    }

    h1 {
      font-size: 4em;
      letter-spacing: 5px;
      margin-left: 1.5%; // Pixel perfection
      position: absolute;
      top: -7.5%;
      left: 0;
      right: 0;
      z-index: 1;
    }

    h4 {
      letter-spacing: 3.5px;
      line-height: 115%;
      font: {
        size: 3em;
        weight: 300;
      }
      position: relative;
      top: 35%;
    }

    button {
      display: block;
      margin: auto;
      top: 50%;
    }
  }
}

// Buttons
.aquamarine-button {
  background-color: transparent;
  border: {
    color: rgb(71,224,205);
    color: -moz-linear-gradient(-45deg,  rgba(71,224,205,1) 0%, rgba(45,206,187,1) 100%);
    color: -webkit-linear-gradient(-45deg,  rgba(71,224,205,1) 0%,rgba(45,206,187,1) 100%);
    color: linear-gradient(135deg,  rgba(71,224,205,1) 0%,rgba(45,206,187,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47e0cd', endColorstr='#2dcebb',GradientType=1 );

    style: solid;
    width: 3.5px;
  }
  cursor: pointer;
  color: #595959;
  font: {
    family: "Source Sans Pro";
    size: 1em;
  }
  letter-spacing: 0.25px;
  outline: none;
  padding: 12.5px 27.5px;
  text-transform: uppercase;
  transition: all 150ms;

  &:hover,
  &:active,
  &:focus {
    background-color: #48e0ce;
    color: white;
    border: {
      color: white;
      width: 2px;
    }
  }

  &:active {
    background-color: #167368;
  }
}

// Responsiveness
@media (max-width: 750px) {
  // Greeting
  $thin-greeting-border-width: 12.5px;
  .greeting {
    .image-holder {
      // Should cover full height
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    div:last-of-type {
      border: {
        right: $thin-greeting-border-width solid white;
        bottom: $thin-greeting-border-width solid white;
        left: $thin-greeting-border-width solid white;
      }
      padding: (15px / 638px * 100%) (35px / 414px * 100%);

      &::before,
      &::after {
        height: $thin-greeting-border-width;
        width: 35px / 618px * 100%;
      }

      h1 {
        font-size: 2.5em;
        margin-left: 1%; // Pixel perfection
        letter-spacing: 2.5px;
        top: -5%;
      }

      h4 {
        top: 15%;
      }

      button {
        top: 27.5%;
      }
    }
  }
}

@media (max-width: 400px) {
  .greeting {
    div:last-of-type {
      padding: 1%;
      width: 80%;
    }
  }
}

// Fonts
@font-face {
  font-family: 'Bebas Neue';
  src: url('../Fonts/BebasNeue-Light.eot');
  src: url('../Fonts/BebasNeue-Light.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/BebasNeue-Light.woff2') format('woff2'),
       url('../Fonts/BebasNeue-Light.woff') format('woff'),
       url('../Fonts/BebasNeue-Light.ttf') format('truetype'),
       url('../Fonts/BebasNeue-Light.svg#bebas_neuelight') format('svg');
  font-weight: 300;
}

  @font-face {
  font-family: 'Bebas Neue';
  src: url('../Fonts/BebasNeue.eot');
  src: url('../Fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/BebasNeue.woff2') format('woff2'),
       url('../Fonts/BebasNeue.woff') format('woff'),
       url('../Fonts/BebasNeue.ttf') format('truetype'),
       url('../Fonts/BebasNeue.svg#bebas_neueregular') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../Fonts/SourceSansPro.eot');
  src: url('../Fonts/SourceSansPro.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/SourceSansPro.woff2') format('woff2'),
       url('../Fonts/SourceSansPro.woff') format('woff'),
       url('../Fonts/SourceSansPro.ttf') format('truetype'),
       url('../Fonts/SourceSansPro.svg#bebas_neuelight') format('svg');
  font-weight: 300;
}

// Hover
/* Outline Out */
.hvr-outline-out {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    border: {
      color: rgb(71,224,205);
      color: -moz-linear-gradient(-45deg,  rgba(71,224,205,1) 0%, rgba(45,206,187,1) 100%);
      color: -webkit-linear-gradient(-45deg,  rgba(71,224,205,1) 0%,rgba(45,206,187,1) 100%);
      color: linear-gradient(135deg,  rgba(71,224,205,1) 0%,rgba(45,206,187,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47e0cd', endColorstr='#2dcebb',GradientType=1 );

      style: solid;
      width: 3.5px;
    }
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
  }
}
