$white: #f8f8ff;

body {
  background-color: $white;
  font-family: 'Bebas Neue';
}

// Greeting
.greeting {
  overflow: hidden;
  text-align: center;
  width: 100%;

  .white-overlay {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .image-overlay {
    width: 100%;
  }

  .image-holder {
    overflow: auto;
  }

  .white-overlay,
  div:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  div {
    h1 {
      font-size: 4em;
    }

    h4 {
      letter-spacing: 2px;
      font: {
        size: 3em;
        weight: 300;
      }
    }
  }
}

// Fonts
@font-face {
  font-family: 'Bebas Neue';
  src: url('../Fonts/BebasNeue-Light.eot');
  src: url('../Fonts/BebasNeue-Light.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/BebasNeue-Light.woff2') format('woff2'),
       url('../Fonts/BebasNeue-Light.woff') format('woff'),
       url('../Fonts/BebasNeue-Light.ttf') format('truetype'),
       url('../Fonts/BebasNeue-Light.svg#bebas_neuelight') format('svg');
  font-weight: 300;
}

  @font-face {
  font-family: 'Bebas Neue';
  src: url('../Fonts/BebasNeue.eot');
  src: url('../Fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/BebasNeue.woff2') format('woff2'),
       url('../Fonts/BebasNeue.woff') format('woff'),
       url('../Fonts/BebasNeue.ttf') format('truetype'),
       url('../Fonts/BebasNeue.svg#bebas_neueregular') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../Fonts/SourceSansPro.eot');
  src: url('../Fonts/SourceSansPro.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/SourceSansPro.woff2') format('woff2'),
       url('../Fonts/SourceSansPro.woff') format('woff'),
       url('../Fonts/SourceSansPro.ttf') format('truetype'),
       url('../Fonts/SourceSansPro.svg#bebas_neuelight') format('svg');
  font-weight: 300;
}
