@import "hover";

// Aquamarine
.aquamarine-button {
  background-color: transparent;
  border: {
    color: rgb(71,224,205);
    color: -moz-linear-gradient(-45deg,  rgba(71,224,205,1) 0%, rgba(45,206,187,1) 100%);
    color: -webkit-linear-gradient(-45deg,  rgba(71,224,205,1) 0%,rgba(45,206,187,1) 100%);
    color: linear-gradient(135deg,  rgba(71,224,205,1) 0%,rgba(45,206,187,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47e0cd', endColorstr='#2dcebb',GradientType=1 );

    style: solid;
    width: 3.5px;
  }
  cursor: pointer;
  color: #595959;
  font: {
    family: "Source Sans Pro";
    size: 1em;
  }
  letter-spacing: 0.25px;
  outline: none;
  padding: 12.5px 27.5px;
  text-transform: uppercase;
  transition: all 150ms;

  &:hover,
  &:active,
  &:focus {
    background-color: #48e0ce;
    color: white;
    border: {
      color: white;
      width: 2px;
    }
  }

  &:active {
    background-color: #167368;
  }
}
