// Footer of every page
footer {
  margin: 100px auto 25px;
  text-align: center;

  img {
    width: 10%;
    max-width: 100px;
  }
}

@media (max-width: 750px) {
  footer {
    margin-top: 50px;
  }
}
