/* line 2, ../sass/partials/_hover.scss */
.hvr-outline-out {
  position: relative;
}
/* line 5, ../sass/partials/_hover.scss */
.hvr-outline-out:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
/* line 18, ../sass/partials/_hover.scss */
.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
  border-color: #47e0cd;
  border-color: -moz-linear-gradient(-45deg, #47e0cd 0%, #2dcebb 100%);
  border-color: -webkit-linear-gradient(-45deg, #47e0cd 0%, #2dcebb 100%);
  border-color: linear-gradient(135deg, #47e0cd 0%, #2dcebb 100%);
  border-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47e0cd', endColorstr='#2dcebb',GradientType=1 );
  border-style: solid;
  border-width: 3.5px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
}

/* line 4, ../sass/partials/_buttons.scss */
.aquamarine-button {
  background-color: transparent;
  border-color: #47e0cd;
  border-color: -moz-linear-gradient(-45deg, #47e0cd 0%, #2dcebb 100%);
  border-color: -webkit-linear-gradient(-45deg, #47e0cd 0%, #2dcebb 100%);
  border-color: linear-gradient(135deg, #47e0cd 0%, #2dcebb 100%);
  border-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47e0cd', endColorstr='#2dcebb',GradientType=1 );
  border-style: solid;
  border-width: 3.5px;
  cursor: pointer;
  color: #595959;
  font-family: "Source Sans Pro";
  font-size: 1em;
  letter-spacing: 0.25px;
  outline: none;
  padding: 12.5px 27.5px;
  text-transform: uppercase;
  transition: all 150ms;
}
/* line 28, ../sass/partials/_buttons.scss */
.aquamarine-button:hover, .aquamarine-button:active, .aquamarine-button:focus {
  background-color: #48e0ce;
  color: white;
  border-color: white;
  border-width: 2px;
}
/* line 39, ../sass/partials/_buttons.scss */
.aquamarine-button:active {
  background-color: #167368;
}

/* line 2, ../sass/partials/_footer.scss */
footer {
  margin: 100px auto 25px;
  text-align: center;
}
/* line 6, ../sass/partials/_footer.scss */
footer img {
  width: 10%;
  max-width: 100px;
}

@media (max-width: 750px) {
  /* line 13, ../sass/partials/_footer.scss */
  footer {
    margin-top: 50px;
  }
}
@font-face {
  font-family: 'Bebas Neue';
  src: url("/assets/fonts/BebasNeue-Light.eot");
  src: url("/assets/fonts/BebasNeue-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/BebasNeue-Light.woff2") format("woff2"), url("/assets/fonts/BebasNeue-Light.woff") format("woff"), url("/assets/fonts/BebasNeue-Light.ttf") format("truetype"), url("/assets/fonts/BebasNeue-Light.svg#bebas_neuelight") format("svg");
  font-weight: 300;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url("/assets/fonts/BebasNeue.eot");
  src: url("/assets/fonts/BebasNeue.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/BebasNeue.woff2") format("woff2"), url("/assets/fonts/BebasNeue.woff") format("woff"), url("/assets/fonts/BebasNeue.ttf") format("truetype"), url("/assets/fonts/BebasNeue.svg#bebas_neueregular") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("/assets/fonts/SourceSansPro.eot");
  src: url("/assets/fonts/SourceSansPro.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/SourceSansPro.woff2") format("woff2"), url("/assets/fonts/SourceSansPro.woff") format("woff"), url("/assets/fonts/SourceSansPro.ttf") format("truetype"), url("/assets/fonts/SourceSansPro.svg#bebas_neuelight") format("svg");
  font-weight: 300;
}
/* line 8, ../sass/Main.scss */
body {
  background-color: #f8f8ff;
  font-family: 'Bebas Neue';
}

/* line 14, ../sass/Main.scss */
.close-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  float: left;
  height: 50px;
  margin: 2.5%;
  padding: 0;
  width: 50px;
}
/* line 24, ../sass/Main.scss */
.close-button span {
  color: #252525;
  font-size: 7em;
  font-weight: 300;
  line-height: 50%;
}

/* line 4, ../sass/Sites.scss */
.banner {
  color: white;
  font-size: 1.45em;
  font-weight: 100;
  padding: 1.5% 2.5%;
  position: absolute;
  left: 0;
  letter-spacing: 0.125rem;
  right: 0;
  z-index: 1;
}
/* line 17, ../sass/Sites.scss */
.banner.blue {
  background-color: #2496ce;
}

/* line 24, ../sass/Sites.scss */
.greeting {
  background-color: #000;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
/* line 30, ../sass/Sites.scss */
.greeting::before, .greeting.sites-container::after {
  background: url("../images/NoahRosenfield.jpg") no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
/* line 42, ../sass/Sites.scss */
.greeting::after {
  background-color: rgba(255, 255, 255, 0.915);
  content: '';
  display: block;
  float: left;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
/* line 54, ../sass/Sites.scss */
.greeting div:last-of-type {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
/* line 63, ../sass/Sites.scss */
.greeting div:last-of-type {
  border-right: 17.5px solid white;
  border-bottom: 17.5px solid white;
  border-left: 17.5px solid white;
  height: 40%;
  margin: auto;
  min-height: 17.5rem;
  width: 60%;
}
/* line 74, ../sass/Sites.scss */
.greeting div:last-of-type::before, .greeting div.sites-container:last-of-type::after, .greeting div:last-of-type::after {
  background-color: white;
  content: '';
  height: 17.5px;
  position: absolute;
  top: 0;
  width: 12.13592%;
}
/* line 84, ../sass/Sites.scss */
.greeting div:last-of-type::before, .greeting div.sites-container:last-of-type::after {
  left: -1%;
}
/* line 90, ../sass/Sites.scss */
.greeting div:last-of-type::after {
  right: -1%;
}
/* line 96, ../sass/Sites.scss */
.greeting div:last-of-type h1 {
  font-size: 4em;
  letter-spacing: 5px;
  margin-left: 1.5%;
  position: absolute;
  top: -7.5%;
  left: 0;
  right: 0;
  z-index: 1;
}
/* line 107, ../sass/Sites.scss */
.greeting div:last-of-type h4 {
  letter-spacing: 3.5px;
  line-height: 115%;
  font-size: 3em;
  font-weight: 300;
  position: relative;
  top: 35%;
}
/* line 118, ../sass/Sites.scss */
.greeting div:last-of-type button {
  display: block;
  margin: auto;
  top: 50%;
}

/* line 134, ../sass/Sites.scss */
.sites-container {
  background-color: #252525;
  overflow: visible;
}
/* line 138, ../sass/Sites.scss */
.sites-container::before, .sites-container::after {
  background: -moz-linear-gradient(top, black 0%, rgba(37, 37, 37, 0) 100%);
  background: -webkit-linear-gradient(top, black 0%, rgba(37, 37, 37, 0) 100%);
  background: linear-gradient(to bottom, black 0%, rgba(37, 37, 37, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00252525', GradientType=0);
  content: '';
  display: inline;
  height: 100px;
}
/* line 149, ../sass/Sites.scss */
.sites-container::after {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(37, 37, 37, 0) 0, black 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(37, 37, 37, 0), black 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(37, 37, 37, 0) 0, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#000000',GradientType=0);
  clear: left;
}
/* line 160, ../sass/Sites.scss */
.sites-container .sites {
  margin: -100px auto 0;
  overflow: auto;
  position: relative;
  bottom: -50px;
  width: 75%;
  max-width: 820px;
}
/* line 168, ../sass/Sites.scss */
.sites-container .sites .site {
  float: left;
  max-height: 410px;
  margin: auto;
  overflow: hidden;
  position: relative;
  transition: all 125ms;
  width: 50%;
  max-width: 410px;
}
/* line 178, ../sass/Sites.scss */
.sites-container .sites .site .overlay {
  background: #4cc3c4;
  background: -moz-linear-gradient(-45deg, #4cc3c4 0%, #2e999b 100%);
  background: -webkit-linear-gradient(-45deg, #4cc3c4 0%, #2e999b 100%);
  background: linear-gradient(135deg, #4cc3c4 0%, #2e999b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cc3c4', endColorstr='#2e999b',GradientType=1);
}
/* line 186, ../sass/Sites.scss */
.sites-container .sites .site .offline.overlay {
  background: #4cc3c4;
  background: -moz-linear-gradient(-45deg, orangered 0%, orangered 100%);
  background: -webkit-linear-gradient(-45deg, orangered 0%, orangered 100%);
  background: linear-gradient(135deg, orangered 0%, orangered 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cc3c4', endColorstr='#2e999b',GradientType=1);
}
/* line 194, ../sass/Sites.scss */
.sites-container .sites .site a:link,
.sites-container .sites .site a:visited {
  color: #f8f8ff;
  display: block;
  text-decoration: none;
}
/* line 201, ../sass/Sites.scss */
.sites-container .sites .site div {
  padding: 10% 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  transition: all 125ms;
}
/* line 211, ../sass/Sites.scss */
.sites-container .sites .site div h4,
.sites-container .sites .site div img,
.sites-container .sites .site div p {
  transition: all 125ms;
}
/* line 217, ../sass/Sites.scss */
.sites-container .sites .site div h4,
.sites-container .sites .site div p {
  font-weight: 600;
  line-height: 135%;
}
/* line 223, ../sass/Sites.scss */
.sites-container .sites .site div h4 {
  font-family: "Nexa";
  font-size: 30px;
  letter-spacing: 0.15rem;
  margin: auto;
  text-transform: uppercase;
  width: 90%;
}
/* line 234, ../sass/Sites.scss */
.sites-container .sites .site div img {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: 0;
  left: 35%;
  width: 30%;
}
/* line 243, ../sass/Sites.scss */
.sites-container .sites .site div p {
  font-family: "Source Sans Pro";
  font-size: 25px;
  letter-spacing: 0.045rem;
  position: absolute;
  right: 0;
  bottom: 10%;
  left: 12.5%;
  width: 75%;
}
/* line 258, ../sass/Sites.scss */
.sites-container .sites .site:hover .overlay {
  background: #4cc3c4;
  background: -moz-linear-gradient(-45deg, rgba(76, 195, 196, 0.965) 0%, rgba(46, 153, 155, 0.965) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(76, 195, 196, 0.965) 0%, rgba(46, 153, 155, 0.965) 100%);
  background: linear-gradient(135deg, rgba(76, 195, 196, 0.965) 0%, rgba(46, 153, 155, 0.965) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cc3c4', endColorstr='#2e999b',GradientType=1);
  transition: all 125ms;
}
/* line 268, ../sass/Sites.scss */
.sites-container .sites .site:hover div {
  margin: 2.5%;
  padding: 7.5%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 277, ../sass/Sites.scss */
.sites-container .sites .site:hover div img {
  left: 34.5%;
  width: 31.25%;
}
/* line 282, ../sass/Sites.scss */
.sites-container .sites .site:hover div p {
  left: 10.75%;
  width: 78.75%;
}

/* line 293, ../sass/Sites.scss */
.message-sender {
  background: rgba(248, 248, 255, 0.985);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
/* line 303, ../sass/Sites.scss */
.message-sender form {
  margin: auto;
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: center;
  width: 35%;
}
/* line 319, ../sass/Sites.scss */
.message-sender .prob {
  font-size: 1.15em;
  letter-spacing: 0.035rem;
  margin-top: 12.5%;
  margin-bottom: 5%;
}
/* line 327, ../sass/Sites.scss */
.message-sender .prob:first-of-type {
  margin-top: 2.5%;
}
/* line 332, ../sass/Sites.scss */
.message-sender input[type="submit"] {
  margin: 10% auto;
  width: 40%;
}
/* line 337, ../sass/Sites.scss */
.message-sender input:not([type="submit"]),
.message-sender textarea {
  background-color: transparent;
  border-width: 0;
  border-bottom: 2px solid #222;
  color: #505050;
  font-family: "Source Sans Pro";
  font-size: 1.5em;
  letter-spacing: 0.015rem;
  margin: 10% auto;
  outline: none;
  padding: 5% 15%;
  width: 68%;
}
/* line 355, ../sass/Sites.scss */
.message-sender input:not([type="submit"]):focus,
.message-sender textarea:focus {
  background-color: #f2f2f9;
  border: 0.2rem solid #d8d8de;
  transition: border-style 75ms;
}
/* line 364, ../sass/Sites.scss */
.message-sender input:not([type="submit"]).has-probs,
.message-sender textarea.has-probs {
  margin: 0 auto;
}
/* line 369, ../sass/Sites.scss */
.message-sender textarea {
  height: 150px;
  font-size: 1.35em;
  line-height: 175%;
  letter-spacing: 0.005rem;
  resize: none;
}

@media (max-width: 750px) {
  /* line 383, ../sass/Sites.scss */
  .greeting div:last-of-type {
    border-right: 12.5px solid white;
    border-bottom: 12.5px solid white;
    border-left: 12.5px solid white;
    padding: 2.3511% 8.45411%;
  }
  /* line 391, ../sass/Sites.scss */
  .greeting div:last-of-type::before, .greeting div.sites-container:last-of-type::after, .greeting div:last-of-type::after {
    height: 12.5px;
    width: 5.66343%;
  }
  /* line 397, ../sass/Sites.scss */
  .greeting div:last-of-type h1 {
    font-size: 2.5em;
    margin-left: 1%;
    letter-spacing: 2.5px;
    top: -5%;
  }
  /* line 404, ../sass/Sites.scss */
  .greeting div:last-of-type h4 {
    top: 15%;
  }
  /* line 408, ../sass/Sites.scss */
  .greeting div:last-of-type button {
    top: 27.5%;
  }

  /* line 415, ../sass/Sites.scss */
  .sites-container .sites {
    width: 90%;
  }
  /* line 418, ../sass/Sites.scss */
  .sites-container .sites .site {
    float: none;
    width: 100%;
  }

  /* line 426, ../sass/Sites.scss */
  .message-sender form {
    top: 6.5%;
    bottom: 6.5%;
    width: 80%;
  }

  /* line 433, ../sass/Sites.scss */
  footer img {
    margin-top: 10% !important;
    width: 20%;
  }
}
@media (max-width: 400px) {
  /* line 440, ../sass/Sites.scss */
  .greeting div:last-of-type {
    padding: 1%;
    width: 80%;
  }
}
@font-face {
  font-family: 'Nexa';
  src: url("../fonts/Nexa-Bold.eot");
  src: url("../fonts/Nexa-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Bold.woff2") format("woff2"), url("../fonts/Nexa-Bold.woff") format("woff"), url("../fonts/Nexa-Bold.ttf") format("truetype"), url("../fonts/Nexa-Bold.svg#nexa_boldregular") format("svg");
  font-weight: 600;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Bold.eot");
  src: url("../fonts/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype"), url("../fonts/SourceSansPro-Bold.svg#bebas_neuelight") format("svg");
  font-weight: 600;
}
